.timer-activated{
  padding: 0px 5px !important;
  box-shadow: 2px 2px !important;
  border-radius: 25px 50px 50px 25px !important;
  color: rgb(41,44,54) !important;
  font-weight: 600 !important;
  height: 18px !important;
}

.timer-activated.running{
  /*background-color : rgb(6,226,6);*/
  background-image: linear-gradient(rgb(0,190,0), rgb(51,221,51), rgb(0,190,0));
  color: white !important;
}

.timer-activated.paused{
  /*background-color : rgb(255,38,38);*/
  background-image: linear-gradient(rgb(219,0,0), rgb(255,62,62), rgb(219,0,0));
  color: white !important;
}

.timer-zoomed{
    display: none; 
}